[submodule "generug-blink"]
	path = generug-blink
	url = git@github.com:danielpavel/generug-blink.git
[submodule "amm"]
	path = amm
	url = git@github.com:danielpavel/amm.git
[submodule "nft-staking"]
	path = nft-staking
	url = git@github.com:danielpavel/nft-staking.git
[submodule "nft-marketplace"]
	path = nft-marketplace
	url = git@github.com:danielpavel/nft-marketplace.git
[submodule "capstone"]
	path = capstone
	url = git@github.com:danielpavel/penny-auctions-marketplace.git
